* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about, .details, .members {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
}

p {
    font-size: 1rem;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

img {
    max-width: 100%;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }

    .organiser h3 {
        font-size: 1.3rem;
    }

    .organiser p {
        font-size: 0.9rem;
    }

    .profile-picture {
        width: 80px;  /* Responsive width */
        height: 80px; /* Responsive height */
    }
}

.organisers {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.organisers h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.organiser {
    margin-bottom: 20px;
    text-align: center;
}

.organiser h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: #333;
}

.organiser p {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #555;
}

.organiser a {
    color: #1a73e8;
    text-decoration: none;
    transition: color 0.3s;
}

.organiser a:hover {
    color: #0056b3;
}


.profile-picture {
    width: 100px; /* Change to your desired width */
    height: 100px; /* Change to your desired height */
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.profile-picture:hover {
    transform: scale(1.1); /* Zoom effect on hover */
}

/* Custom styles for Google Maps */
.map-container {
    height: 400px; /* Desired height for the map */
    width: 100%;
    margin: 20px auto; /* Center the container and add some margin */
    text-align: center; /* Center align iframe inside the container */
}

.map-container iframe {
    border: 0; /* Remove border from iframe */
    width: 100%; /* Make iframe fill the container */
    height: 100%; /* Make iframe fill the container */
}